<template name = "category">

{{#if navigationPath}}

	{{> breadcrumb}}

{{/if}}

<h1> {{currentCategory}} </h1>
<hr/>

{{#if categories}}
	<div class = "well">
		<ul class = "nav nav-pills nav-stacked">
			{{#each categories}}
				<li role = "presentation">
					<a href="/continut{{path}}/{{_id}}">{{_id}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}


<h2>Lectii</h2>
<hr/>

<div class = "well">
	<ul class = "nav nav-pills nav-stacked">
	{{#each lessons}}
		<li role = "presentation">
			<a href="/lectie{{path}}/{{_id}}">{{_id}}</a>
		</li>
	{{/each}}
	</ul>
</div>

<h2>Intrebari</h2>

{{#if currentUser}} 
	{{#if viewAll}}
		<div id="filterSolvedQuestions" class = "btn btn-default" style="float:right">
		Vezi doar intrebarile nerezolvate de tine!
		</div>
	{{else}}
		<div id="filterAllQuestions" class = "btn btn-default" style="float:right">
		Vezi toate intrebarile!
		</div>
	{{/if}}
{{/if}}

<hr/>

<div class = "well">
	<ul class = "nav nav-pills nav-stacked">
	{{#each questions}}
		{{#if showThisQuestion}}
			<li role = "presentation">
			<a href="/intrebare{{path}}/{{_id}}">{{question}}</a>
			</li>
		{{/if}}
	{{/each}}
	</ul>
</div>

</template>
