<template name = "category">
{{> breadcrumb}}

<h2>Subcategorii</h2>
<hr/>

<div class = "container-fluid">
	{{#each categories}}
		<a href="/continut{{path}}/{{_id}}" class = "categorie">
			<center> 
				<div class = "categorie-poza-container">		
					<img src = "None" class = "categorie-poza" />
				</div> 
			</center>
			<br />
			{{_id}}
		</a>
	{{/each}}
</div>


<h2>Lectii</h2>
<hr/>

<div class = "container-fluid">
	{{#each lessons}}
		<a href="/lectie{{path}}/{{_id}}" class = "categorie">
			<center> 
				<div class = "categorie-poza-container">		
					<img src = "None" class = "categorie-poza" />
				</div> 
			</center>
			<br />
			{{_id}}
		</a>
	{{/each}}
</div>

<h2>Intrebari</h2>
<hr/>

<div class = "container-fluid">
	{{#each questions}}
		<a href="/intrebare{{path}}/{{_id}}" class = "categorie">
			<center> 
				<div class = "categorie-poza-container">		
					<img src = "None" class = "categorie-poza" />
				</div> 
			</center>
			<br />
			{{question}}
		</a>
	{{/each}}
</div>

</template>
