<template name = "category">

{{#if navigationPath}}

	{{> breadcrumb}}

{{/if}}

<h1> {{currentCategory}} </h1>
<hr/>

{{#if categories}}
	<div class = "well">
		<ul class = "nav nav-pills nav-stacked">
			{{#each categories}}
				<li role = "presentation">
					<a href="/continut{{path}}/{{_id}}">{{_id}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}


<h2>Lectii</h2>
<hr/>

<div class = "container-fluid">
	{{#each lessons}}
		<a href="/lectie{{path}}/{{_id}}" class = "categorie">
			<center> 
				<div class = "categorie-poza-container">		
					<img src = "None" class = "categorie-poza" />
				</div> 
			</center>
			<br />
			{{_id}}
		</a>
	{{/each}}
</div>

<h2>Intrebari</h2>
<hr/>

<div class = "container-fluid">
	{{#each questions}}
		<a href="/intrebare{{path}}/{{_id}}" class = "categorie">
			<center> 
				<div class = "categorie-poza-container">		
					<img src = "None" class = "categorie-poza" />
				</div> 
			</center>
			<br />
			{{question}}
		</a>
	{{/each}}
</div>

</template>
