<template name = "question">
{{> breadcrumb}}

<form class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>
		<h1>{{question.question}} </h1>
		<h3>Dificultate: 
		{{#each starsFulls}}	
			★
		{{/each}}

		{{#each starsEmpty}}
			☆
		{{/each}}

		</h3>

	</legend>

	{{#if showMessage}}
		<div id="message">
			{{#if successMessage}}
				<div class='alert alert-success' id='message'>Ai raspuns corect!
					<a href="/intrebare{{getNextQuestion.path}}/{{getNextQuestion._id}}" style="float:right">
						Urmatorea intrebare
					</a>	
				</div>
			{{else}}
				<div class="alert alert-danger" id="message">Raspunsul tau este gresit!</div>
			{{/if}}
		</div>
	{{/if}}

	<!-- Multiple Radios -->
	<div class="control-group">
	  <div class="controls">
	  	{{#each question.answers}}
	  		<label style = "width: 100%;">
				<div class="quiz-choice" id = "choice{{this}}">
					<input type="radio" name="answer" value="{{this}}" style = "display: none;"/> 
					<center>{{this}}</center>
				</div>	
			</label>
		    <br />
		  {{/each}}
		  <br />
		  <center><input class = "btn btn-default btn-lg" type="submit" value="Verifică" /></center>
	  </div>
	</div>

	</fieldset>
</form>


</template>