<template name = "question">
{{> breadcrumb}}

<div class="alert alert-info" id="message">
	BOSS AICI E UN JMEN CU JQUERY EJTI NEBOON?
</div>


<form class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>{{question.question}}</legend>

	<!-- Multiple Radios -->
	<div class="control-group">
	  <div class="controls">
	  	{{#each question.answers}}
		    <label class="radio" for="radios-0">
		      <input class = "cepulamea" type="radio" name="answer" id="radios-0" value="{{this}}"/>
		      {{this}}
		    </label>
		  {{/each}}
		  <input class = "btn btn-default" type="submit" value="Verifică" />
	  </div>
	</div>

	</fieldset>
</form>

</template>